<div>
  <article *ngFor="let item of usuarios">
    <span>{{item.codigoUsr}}</span><span>-</span>
    <span>{{item.cuentaUsr}}</span><span>-</span>
    <span>{{item.nombreUsr}}</span><span>-</span>
    <span>{{item.passwordUsr}}</span><span>-</span>
    <span>{{item.codigoPerfil}}</span><span>-</span>
    <span>{{item.nombrePerfil}}</span><span>-</span>
    <span>{{item.indicadorPerfil}}</span><span>-</span>
    <span>{{item.codigoApp}}</span><span>-</span>
    <span>{{item.nombreApp}}</span>
  </article>
</div>
